{% extends '::base.html.twig' %}

{% block body -%}
    <h1>{% trans %}Lista wydatków{% endtrans %}</h1>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>{% trans %}Nazwa{% endtrans %}</th>
                <th>{% trans %}Opis{% endtrans %}</th>
                <th>{% trans %}Ilość{% endtrans %}</th>
                <th>{% trans %}Cena netto{% endtrans %}</th>
                <th>{% trans %}VAT{% endtrans %}</th>
                <th>{% trans %}Cena brutto{% endtrans %}</th>
                <th>{% trans %}Koszt całkowity{% endtrans %}</th>
                <th>{% trans %}Data zakupu{% endtrans %}</th>
                <th>{% trans %}Dodano{% endtrans %}</th>
                <th>{% trans %}Akcje{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.id }}</td>
                <td>{{ entity.name }}</td>
                <td>{{ entity.description }}</td>
                <td>{{ entity.quantity }} {% if  entity.unit %}{{ entity.unit.shortName }}{% endif %}</td>
                <td>{{ entity.netPrice }}</td>
                <td>{{ entity.vat }}</td>
                <td>{{ entity.grossPrice }}</td>
                <td>{{ entity.summaryGrossPrice }}</td>
                <td>{% if entity.purchaseDate %}{{ entity.purchaseDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.createdAt %}{{ entity.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                        <a href="{{ path('product_show', { 'id': entity.id }) }}" data-toggle="tooltip" data-placement="top" title="{% trans %}Szczegóły{% endtrans %}"><i class="fa fa-info"></i></a>
                        <a href="{{ path('product_edit', { 'id': entity.id }) }}" data-toggle="tooltip" data-placement="top" title="{% trans %}Edycja{% endtrans %}"><i class="fa fa-edit"></i></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


    <a href="{{ path('product_new') }}" class="btn btn-default">
        <i class="fa fa-plus"></i> {% trans %}Nowy wydatek{% endtrans %}
    </a>
{% endblock %}
